[submodule "home/karan/.config/nvim"]
	path = home/karan/.config/nvim
	url = git@github.com:NvChad/NvChad.git
[submodule "home/karan/waste/STT2colabrations"]
	path = home/karan/waste/STT2colabrations
	url = git@github.com:karankumbhar47/STT2_Assignments.git

